<launch>
  
  <node
    pkg="duck_imitator"
    type="open_cv_yellow_detector.py"
    name="open_cv_yellow_detector"
    output="screen"
    respawn="true"
  />
  
  <node
    pkg="duck_imitator"
    type="follow.py"
    name="follow"
    output="screen"
    respawn="true"
  />

  <node
    pkg="duck_imitator"
    type="avoid.py"
    name="avoid"
    output="screen"
    respawn="true"
  />

</launch>